html,
body {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 14px;
}

body {
  background-color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  color: #495057;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0 0.5rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.card {
  margin-bottom: 2rem;
  background: #ffffff !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
.p-column-filter-menu {
  margin-left: 5px;
}
.datatable .p-paginator .p-paginator-current {
  margin-left: auto;
}
.datatable .p-progressbar {
  height: 0.5rem;
  background-color: #d8dadc;
}
.datatable .p-progressbar .p-progressbar-value {
  background-color: #607d8b;
}
.datatable .p-datepicker {
  min-width: 25rem;
}
.datatable .p-datepicker td {
  font-weight: 400;
}
.datatable .p-datatable.p-datatable-absence .p-datatable-header {
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
}
.datatable .p-datatable.p-datatable-absence .p-paginator {
  padding: 1rem;
}
.datatable
  .p-datatable.p-datatable-absence
  .p-datatable-thead
  > tr
  > th {
  text-align: left;
}
.datatable
  .p-datatable.p-datatable-absence
  .p-datatable-tbody
  > tr
  > td {
  cursor: auto;
}
.datatable
  .p-datatable.p-datatable-absence
  .p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}
.p-datatable .p-datatable-header
{
  background:none !important;
}
.p-datatable .p-datatable-thead > tr > th
{
  background-color: #fff9f2 !important;
}
